body {
    background-color: hsl(212, 45%, 89%);
}
.body {
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    margin: auto;
    width:270px;
    height:430px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.main_image {
    width: 240px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3%;
    justify-content: center;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color:hsl(218, 44%, 22%);
    margin: 25px ;
    text-align: center;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    margin: 25px ;
    color: hsl(220, 15%, 55%);
    text-align: center;
}
