body {
    background-color: hsl(212, 45%, 89%);
}
.body {
    background-color: hsl(0, 0%, 100%);
    margin-top: 100px;
    margin-right: 625px;
    margin-left: 625px;
    height:430px;
    border-radius: 3%;

}
.main_image {
    width: 240px;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 3%;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color:hsl(218, 44%, 22%);
    margin: 25px ;
    text-align: center;
}
p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    margin: 25px ;
    color: hsl(220, 15%, 55%);
    text-align: center;
}