body {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}
.container {
    background-color: hsl(0, 0%, 100%);
    max-width:275px;
    height:auto;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 7px 12px;
    padding: 15px;
    display: flex;
    flex-direction : column;
}
.main_image {
    border-radius: 3%;
}
.title {
    font-family: 'Poppins', sans-serif;
    color:hsl(218, 44%, 22%);
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size:0.6rem;
       
}
.para {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-weight: 400;
    
}
